/*/*
/*/Debug/*
/*/Debug/*.log
/*/Debug/*.idb
/*/Debug/*.pdb
!/*/Debug/*.exe
!/*/Debug/*.obj
!/*/Debug
!/*/*.cpp
!/*/*.txt
!/*/*.h
!/*/*.sln
!/*/*.vcxproj
!/*/*.vcxproj.filters
!*.cpp
!*.txt
!*.h
!*.sln
!*.vcxproj
